h1{
  color: orange;
  spacing: 
    padding: 5px;
  padding: 1em;
}
h2{
  color: red;
}
h3{
  color: red;
}
#fruit {
  display: block;
  width: 250px; 
  margin: auto;
}
.place {
  color: yellow;
}
#mango {
  font-weight: bold;
  font-style: oblique;
}
a:link {
      color: orange;        
      text-decoration: none; 
}
a:visited {color: yellow} 
a:hover {color: green} 
a:focus {color: lavender} 
a:active {color: skyblue}

body {
background-color: blue;
}
.places {
  text-align:center;
}
h1{
  font-family: 'Hanalei Fill', cursive;
}
h4{
  font-family: 'Indie Flower', cursive;
}
body{ 
  text-shadow: 2px 2px pink
}
body{
  border: 2px double green
}
body{
  box-shadow: 2px 2px violet
}
