h1{
  color: blue;
  spacing: 
    padding: 5px;
  padding: 1em;
}
h2{
  color: red;
}
h3{
  color: red;
}
#fruit {
  display: block;
  width: 250px; 
  margin: auto;
}
.place {
  color: yellow;
}
#mango {
  font-weight: bold;
  font-style: oblique;
}
a:link {
      color:pink;        
      text-decoration: none; 
}
a:visited {color:blue} 
a:hover {color:green} 
a:focus {color:lavender} 
a:active {color:skyblue}

body {
background-color: blue;
}
