h1{
  color: blue;
  spacing: 
    padding: 5px;
  padding: 1em;
}
h2{
  color: red;
}
h3{
  color: red;
}
#fruit {
  display: block;
  width: 250px; 
  margin: auto;
}
.place {
  color: yellow;
}
#mango {
  font-weight: bold;
  font-style: oblique;
}
a:link {           Styles an unvisited link.
      color: pink ;        
      text-decoration: none; 
} 
a:visited {blue } Styles visited links.
a:hover {green } Style when the user mouses over a link.
a:focus {lavender } Style when the user clicks on a link.
a:active {skyblue } Style when the user has clicked a link.
}
(selector) {     
            color: black;
            background-color: #000000;
            font-size: 12px;
}
