body{
  color:blue;
  background-color:#d2afed;
  border:5px solid orange;
  padding:5px;
}
h1{
  color:green;
  letter-spacing:0.5em;
}
h2{
  color:#ffcc66;
}
div{
  margin:auto;
  display:block;
  width:fit-content;
}
#badFoods{
  color:red;
}
.places{
  margin:auto;
  display:block;
  width:fit-content;
}
