body{
  color:blue;
  background-color:#d2afed;
  border:5px solid orange;
  padding:10px;
}
h1{
  color:green;
  letter-spacing:0.5em;
  font-family: 'Lobster', cursive;
  text-shadow:0 0 19px white;
}
h2{
  color:#ffcc66;
div{
  margin:auto;
  display:block;
  width:fit-content;
}
#badFoods{
  color:red;
}
.places{
  margin:auto;
  display:block;
  width:fit-content;
}
img{
  box-shadow:5px 5px yellow;
}
