body {
 background-color: #ccebff;
 border: 10px double #cc99ff;
}
h1 {
  text-align: center;
  color: #EA5C15;
}
img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#first-page {
 color: green
}
