body {
  color: black;
  background-color: #e6ccff;
  border: 10px double #66ccff;
 }
h1 {
  color: purple;
  text-align: center;
  text-shaddow: 3px 2px black;
}
#least-favorite-food {
  color: #cc0000;
}
#my-name {
  text-align: center;
  color: #00b386;
}
#second-page {
  color: green;
}
img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
