body {
  color: black;
  background-color: #e6ccff;
 }
h1 {
  color: purple;
  text-align: center;
}
#least-favorite-food {
  color: #cc0000;
}
#my-name {
  text-align: center;
  color: #1aa3ff;
}
#second-page {
  color: green;
}
img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
h2 {
  color: #33ffbb;
}
