h1 {
    color: #B4D8E7;
    }   
h2 {
    color: #c6eadd;
}
h3 {
    color: #FF9999;
}
img {
    display: block;
    width: 33%;
    margin: auto;
    height: auto;
}
.places {
    text-align:center;
    display: block;
    width: 33%;
    margin: auto;
    height: auto;
}

li {
    list-style-type: none;
}
body {
    backround-color: #D3D3D3;
    font-size: 12px;
}
