h1 {
  color: blue;
  text-align: center;
  font-family: Verdana; 
}

h2 {
  color: #98FF98;
  font-family: Courier;
}

h3 {
  color: #FF0000;
  font-family: Courier;
}  

img { 
  margin: auto;
  display: block;
  width: 15%;
}
  
.places {
    text-align:center;
}
  
#song {
  font-weight: bold;
  font-style: oblique; 
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #CCFFFF;
  text-decoration: none;
}

a: focus {
    color: #EE82EE;
    text-decoration: none; 
} 

body {
background-color: #CCFFFF;
}

