h1 {
  color: blue;
  padding: 50px;
  padding: 1em;
}

h2 {
  color: #98ff98;
}

h3 {
  color: #FF0000;
}  

img { 
  margin: auto;
  display: block;
  width: 15%;
}
  
.places {
    text-align:center;
}
  
#song {
  font-weight: bold;
  font-style: oblique; 
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #CCFFFF;
  text-decoration: none;
}

a: focus {
    color: #EE82EE;
    text-decoration: none; 
} 

body {
background-color: #95B9C7;
}
