h1 {
  color: blue;
  text-align: center;
  font-family: Verdana; 
}

h2 {
  color: #EB8585;
  font-family: Courier;
  text-shadow: 2px 2px #82CAFF;
  margin-left: length 5 cm; 
}

h3 {
  color: #FF0000;
  font-family: Courier;
  text-shadow: 2px 2px #FFFF00;
}  

img { 
  margin: auto;
  display: block;
  width: 15%;
}
  
.places {
    text-align:center;
}
  
#song {
  font-weight: bold;
  font-style: oblique; 
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #00bfff;
  text-decoration: none;
}

a: focus {
    color: #EE82EE;
    text-decoration: none; 
} 

body {
background-color: #CCFFFF;
border: 1px dashed blue; 
box-shadow: 12px 12px blue;
}

