body {
color: blue;
   background-color: #e1f4f4;
   border: 
      2px solid blue;
     1px dashed green;
     0.spx dotted red;
     3px double purple;
}

h1 {
  color: green;
letter-spacing: 0.2em;
}

h2{
  color: tan;
}


#badfood{
  color:red; 
}

img { 
  margin:auto;
  display: block;
  width:8%;
}

div {
  margin: auto; 
  display:block;
  width: fit-content;
}

.places{
}
#hawaii{
}

#song{
  color:purple;
}

