h1 {
    color:  #011f4b;
    padding:    5px;
    padding:    lem;
    font-family: Helvetica,sans-serif;
}
h2  {   
    color:  #905424;
}
h3  {
    color: #011f4b;
}
.places {
    color:#011f4b
}
div {
    margin: auto;
    display:block;
    width:33%;
}
body{
    font-size:12px;
    background-color:#D4EFFC;
}
a {
    text-decoration:none;
}
/*
.Places {
    color: blue;
}*/
img {
    box-shadow: 10px 10px #011f4b;
}
