h1 {
    color: green; 
    padding:    5px;
    padding:    lem;
}
h2  {   
    color:  brown;
}
h3  {
    color: red;
}
/*.places {
    color:blue;
}*/
div {
    margin: auto;
    display:block;
    width:33%;
}
body{
    font-size:12px;
    background-color:#D4EFFC;
}
a {
    text-decoration:none;
}
/*
.Places {
    color: blue;
}*/
