h1 {
    color: green; 
    padding:    5px;
    padding:    lem;
}
h2  {   
    color:  brown;
}
h3  {
    color: red;
}
.classname {
    color:  blue;
}
div {
    margin: auto;
    display:block;
    width:33%
}
    
