h1 {
    color: green; 
    padding:    5px;
    padding:    lem;
}
h2  {   
    color:  brown;
}
h3  {
    color: red;
}
.places {
    color:  blue;
}
div {
    margin: 0 auto;
    display:    block;
    clear:  both;
}
    
