body {
color: blue;
}
h1 {
  color: green;
  letter-spacing: 0.5em;
} 
h2 {
  color: pink;
}
h3 {
  color: red;
}
 img { 
  margin: auto;
   display: block;
   width: 10%;
}
div { 
  margin: auto;
  display: block;
  width: fit-content;
}
.places {
   color: orange;
}
