body {
color: blue;
  background-color: #e6efba;
  text-align: center;
  border: 
    3px dashed violet;
}
h1 {
  color: green;
  letter-spacing: 0.5em;
} 
h2 {
  color: pink;
}
h3 {
  color: red;
}
 img { 
  margin: auto;
   display: block;
   width: 10%;
}
div { 
  margin: auto;
  display: block;
  width: fit-content;
}
.places {
   color: orange;
}
#song{
  color: purple;
}
h2 {
  font-family: lucida console, Courier,  monospace;
}
h1 {
  font-family:  'Shadows Into Light', cursive;
} 
  
  
  
  
  
