body {
  color:#4B0082;
  background-color:black;
  text-align:center;
}
<head>
<link
href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
font-family: 'Lobster', sans-serif;
