body {
  color: #CEF4F5;
  background-image:url('../student7/nico.jpg');
  background-repeat: no-repeat;
  text-align:center;
}
body {
font-family: 'Lobster', cursive;
}
body {
  text-shadow: 3px 3px #00808C;
}
