body {
  color: #CEF4F5;
  background-image:url('../student7/nico.jpg');
  text-align:center;
}
body {
font-family: 'Lobster', cursive;
}
h1 {
font-family: 'Nosifer',cursive;
}
body {
  text-shadow: 3px 3px #00808C;
}
