body {
  color: #CEF4F5;
  background-image:url('../student7/nico.jpg');
  text-align:center;
}
body {
font-family: 'Lobster', cursive;
}
h1 {
font-family: 'Limelight', cursive; 
}
h1 {
color:#DAF7A6;
}
body {
  text-shadow: 3px 3px #00808C;
}
h1 {
  text-shadow: 3px 3px #ECA9B5; 
}
