body {
  color: #FFFD67; 
  background-image:url('../student7/nico.jpg');
  text-align:center;
}
body {
font-family: 'Lobster', cursive; 
}
body {
font-size: 25px;
}
h1 {
font-family: 'Nosifer', cursive;
}
h1 {
color:#FE2890; 
}
body {
  text-shadow: 3px 3px #00808C; 
}
h1 {
  text-shadow: 3px 3px #43DE00;
}
body {
  border: 6px dotted white;
}
body {
    box-shadow: 5px 10px #000000; 
}
p {
    padding: 15px;
}
.icecream {
  color: #00808C;
  text-shadow: 3px 3px white;
}
title {
text-shadow: with 15px height 15px blur-radius color white;
}
