body {
        color: #8c769f;
        margin: auto;
        background-color: #E6E6FA;
        font-family: "Lucida Console", Monaco, monospace
}
h1 {
        color: #c7d6d8;
        letter-spacing: 0.5em;
        box-shadow: 5px 10px;
        text-shadow: 2px 2px #00FFFF;
}
#Chocolate {
        color: #a07000;
}
#Broccoli {
        color: red;
}
div {
        margin: 0 auto;
        display: block;
        width: 33%;
        border: 5px double #00FFFF;
}
.places {
        text-align: center
}
#song {
        font-weight: bold;
        font-style: italic;
}
a:link {
        color: green;
        text-decoration: none;
}
a:visited {
        color: blue;
        text-decoration: none;
}
a:hover {
        color: yellow;
        text-decoration: none;
        
                
