body {
        color: blue;
        margin: auto;
        
}
h1 {
        color: yellow;
        letter-spacing: 0.5em;
}
h2 {
        color: brown;
}
#Broccoli {
        color: red;
}
div {
        margin: 0 auto;
        display: block;
        width: 33%;
}
        
