body {
        color: purple;
        margin: auto;
        background-color: #E6E6FA;
        
}
h1 {
        color: #c7d6d8;
        letter-spacing: 0.5em;
}
#Chocolate {
        color: #a07000;
}
#Broccoli {
        color: red;
}
div {
        margin: 0 auto;
        display: block;
        width: 33%;
}
.places {
        text-align: center
}
#song {
        font-weight: bold;
        font-style: italic;
}
a:link {
        color: green;
        text-decoration: none;
}
a:visited {
        color: blue;
        text-decoration: none;
}
a:hover {
        color: purple;
        text-decoration: none;
        
                
