h1{  
color: #83AE9B;
text-align: center;
letter-spacing: 0.5em;
font-family: 'Kirang Haerang', cursive;
}

h2, h3, #favorite-icecream{
color: #000080;
font-family: 'Indie Flower', cursive;
}

h4{
color: #FF69B4;
font-family: 'Lato', sans-serif;
}

#foods-i-dislike{
color: red;
}

img{
margin: auto;
display: block;
width: 33%;
}

.favorite{
color: #FD6A02;
}

.fruit{
color: #FD6A02;
}

a:link{
color: ;
}

a:visited ()

a:hover ()
