h1{  
color: #83AE9B;
text-align: center;
letter-spacing: 0.5em;
font-family: 'Kirang Haerang', cursive;
}

h2, h3, #favorite-icecream{
color: #000080;
}

h4{
color: #FF69B4;
}

#foods-i-dislike{
color: red;
}

img{
margin: auto;
display: block;
width: 33%;
}
