
body{
background-color:#336699;
}
h1 {
  color: #e6b800;
  letter-spacing: 0.3em;
  font-family: 'Roboto Mono', monospace;
  }
h2 {
  color: #4d2600;
  }
h3{
  color: red;
  font-family: 'Shadows Into Light', cursive;
 } 
img{
  margin:auto;
  display:block;
  width:33%;
 }
.my-places, ol {
  margin:auto;
  display:block;
  width:33%;
}
a:link{
  text-decoration: none;
}
a:visited{
  color: green;
}
a:hover{
  color: lightblue;
}
#Ice_cream{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  }

div {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
