
h1 {
  color: blue;
  letter-spacing: 0.3em;
  }
h2 {
  color: brown;
  }
h3{
  color: red;
 } 
img{
  margin:auto;
  display:block;
  width:33%;
 }
h2, ol {
  margin:auto;
  display:block;
  width:33%;
  }

