body {
    color: blue;
}
h1 {
    color: pink;
    letter-spacing: 0.6em;
}
h2 {
    color: brown;
}
h3 {
    color: red;
}
img {
    margin: auto;
    display: block;
    width: 20%;
    height: 33%;
        
}
ul {
    text-align: center;
    list-style-type: none;
}
    
