body {
    color: blue;
}
h1 {
    color: pink;
    letter-spacing: 0.6em;
}
h2 {
    color: brown;
}
h3 {
    color: red;
}
img {
    margin: auto;
    display: block;
    width: 20%;
    height: 33%;
        
}
ul {
    text-align: center;
    list-style-type: none;
}
.Places{
    color: yellow;
}
#Song {
    font-weight: bold;
    font-style: italic;
}
a:link {
    color: rgb(191, 131, 184);
    text-decoration: none;
}
a:visited{
    color: rgb(206, 219, 107);
    text-decoration: none;
}
a:hover{
    color:rgb(124, 165, 136);
    text-decoration:none;
}
