body {
    color: white;
    background-color: #c4c4c4;
    border: 3px solid pink; 
    font-family: 'Rajdhani', sans-serif;
   }
h1 {
    color: pink;
    letter-spacing: 0.6em;
    font-family: 'Sacramento', cursive;
    text-shadow:3px 3px #e0e0e0;
    font-size: 50px;
    
}
h2 {
    color: #f7ebbe;
    font-family: 'Cabin Sketch', cursive;
}
h3 {
    color: red;
}
img {
    margin: auto;
    display: block;
    width: 20%;
    height: 33%;
    box-shadow:6px 7px pink;
}
ul {
    text-align: center;
    list-style-type: none;
}
.Places{
    color: yellow;
}
#Song {
    font-weight: bold;
    font-style: italic;
}
a:link {
    color: #ff82b4;
        text-decoration: none;
}
a:visited {
    color: #00917d;
}
a:hover {
    color:#c62700;
}
