body {
    color: blue;
    background-color: #c4c4c4;
    border: 3px solid pink; 
   }
h1 {
    color: pink;
    letter-spacing: 0.6em;
}
h2 {
    color: brown;
}
h3 {
    color: red;
    font-style: Kirang Haerang;
}
img {
    margin: auto;
    display: block;
    width: 20%;
    height: 33%;
        
}
ul {
    text-align: center;
    list-style-type: none;
}
.Places{
    color: yellow;
}
#Song {
    font-weight: bold;
    font-style: italic;
}
a:link {
    color: #ff82b4;
        text-decoration: none;
}
a:visited {
    color: #00917d;
}
a:hover {
    color:#c62700;
}
