body {
  color: blue;
}

h1 {
  color: orange;
}

h2 {
  color: brown;
}

ol {
  color: red;
}

img {
  margin:auto;
  display:block;
  width:33%;
}

ol {
  margin:auto;
  display:block;
  width:33%;
}

.places {
  color: green;
}

#song {
      color: sky blue;
}
