body {
  color: #FEF462;
  background-color: #A7CAFD;
}

h1 {
  color: #E0F4FE;
}

h2 {
  color: brown;
}

ol {
  color: red;
}

img {
  margin:auto;
  display:block;
  width:33%;
}

ol {
  margin:auto;
  display:block;
  width:33%;
}

.places {
  color: green;
}

#song {
      color: #33FFDD;
}

a:link {           
      color: blue;        
      text-decoration: none; 
} 

a:visited {
  color: blue}
a:hover {
  color: green}
a:focus {
  color: yellow}
a:active {
  color: red}

