body {
  color: blue;
}

h1 {
  color: orange;
}

h2 {
  color: brown;
}

ol {
  color: red;
}

img {
  margin:auto;
  display:block;
  width:33%;
}

ol {
  margin:auto;
  display:block;
  width:33%;
}

.places {
  color: green;
}

#song {
      color: #33FFDD;
}

a:link {           
      color: blue;        
      text-decoration: none; 
} 

a:visited {blue} Styles visited links.
a:hover {green} Style when the user mouses over a link.
a:focus {yellow} Style when the user clicks on a link.
a:active {red} Style when the user has clicked a link.


background-color:#A7CAFD;
