h1 {
  color: blue;
  padding: 5px; 
  padding: 1em;
}

h2 {
  color: #98FF98;
}

h4 {
  color: #FF0000;
}

div {
  margin: 0 auto;
  display: block;
  clear: both;
}

.places {
  margin: auto;
}

#song {
  font-weight: bold;
  font-weight: oblique;
}

a:link {
  color: #008000;
}

a:visitied {
  color: #800080;
}

a:hover {
  color: #32CD32;
}


