h1 {
  color: blue;
  padding: 5px; 
  padding: 1em;
}

h2 {
  color: #98FF98;
}

h4 {
  color: #FF0000;
}

img {
  margin: auto;
  display: block;

}

.places {
  text-align: center;
}

#song {
  font-weight: bold;
  font-style: oblique;
}

a:link {
  color: #008000;
  text-decoration: none;
}

a:visitied {
  color: #800080;
}

a:hover {
  color: #32CD32;
}

body {
  background-color: #00BFFF;
}


