h1 {
  color: blue;
  padding: 5px;
}

h2 {
  color: #98FF98;
}

h4 {
  color: #FF0000;
}

img {
  clear: both;
}

.places {
  margin: auto;
}

#song {
  font-weight: bold;
  font-weight: oblique;
}


