body {
        color: blue;
}
h1 {
        color:purple;
        letter-spacing: 5px;
}
h2 {
        color:brown;
}
h3 {
        color:red;
}
div {
       margin: 0 auto;
       display: block;
       clear:both;
}
