body {
        color: blue;
        background-image: url("../student_21/black.jpg") ;
        border:3px dotted #0afff6;
        
}
h1 {
        color:purple;
        letter-spacing: 5px;
}
h2 {
        color:#f7e5b9;
}
h3 {
        color:red;
}
img {
       margin: 0 auto;
       display: block;
       width:33%;
}
ul {
        text-align: center;
        list-style-type:none;
}
.places {
        color:pink;         
}
#favoritesong {
        color:rgb(106, 242, 228);
        font-style: italic;
        font-weight: bold;
}
a:link {
        color:#a5efad;
        text-decoration:none;
 } 
a:visited{
        color:blue;
        text-decoration:none;
}        
    
a:hover {
         color:#ff66bf;
         text-decoration:none;
}  
a:active {
        color:blue;
        text-decoration: none;
}
