body {
        color: blue;
}
h1 {
        color:purple;
        letter-spacing: 5px;
}
h2 {
        color:brown;
}
h3 {
        color:red;
}
img {
        clear:both;
        margin:auto;
        float:left;
        display:block;    
}
