body {
        color: white;
        background-image: url("../student_21/black.jpg") ;
        border:5px dotted #0afff6;
        
}
h1 {
        color:#b86fd6;
        letter-spacing: 5px;
        font-family: 'Gruppo', cursive;
        text-shadow:5px 5px white;
}
h2 {
        color:#f7e5b9;
        font-family: 'Reenie Beanie', cursive;
}
h3 {
        color:red;
        font-family: 'Creepster', cursive;
}
img {
       margin: 0 auto;
       display: block;
       width:33%;
       box-shadow:7px 7px yellow;
}
ul {
        text-align: center;
        list-style-type:none;
}
.places {
        color:pink;         
}
#favoritesong {
        color:rgb(106, 242, 228);
        font-style: italic;
        font-weight: bold;
        
}
a:link {
        color:#a5efad;
        text-decoration:none;
 } 
a:visited{
        color:blue;
        text-decoration:none;
}        
    
a:hover {
         color:#ff66bf;
         text-decoration:none;
}  
a:active {
        color:blue;
        text-decoration: none;
}
