body {
        color: blue;
}
h1 {
        color:purple;
        letter-spacing: 5px;
}
h2 {
        color:brown;
}
h3 {
        color:red;
}
img {
       margin: 0 auto;
       display: block;
       width:33%;
}
ul {
        text-align: center;
        list-style-type:none;
}
.places {
        color:pink;         
}
#favoritesong {
        color:rgb(106, 242, 228);
        font-style: italic;
        font-weight: bold;
}
a:link {
        color:rgb(165, 165, 239);
 } 
a:visited{
        color:rgb(190, 247, 187);
        text-decoration:none;
}        
    
a:hover {
         color:rgb(249, 4, 209);
         text-decoration:none;
}        
